.container{height: 90vh;}
.box{
	padding:25px;
	text-align: center;
	color: white;
            
}
#box1{
	background-color: teal;

}
#box2{
	background-color: rgb(30, 146, 107);
	float: left;
	height: 50vh;
}
#box3{
	background-color: rgb(115, 202, 173);
	height: 50vh;
}
#box4{
background-color: rgb(21, 109, 80);

}